// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size: 5rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.form{
  color: white;
  display: flex;
  font-size: 3.5rem;
  align-items: center;
  flex-direction: column;
  background-color: #202024;
  width: 50vw;
  height: 50vh;
  margin: 5rem auto 0 auto;
  text-align: center;
  border-radius: 1rem;
}

.search-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}

.submit-button{
  background-color: #00875f;
  border-width: 0;
  padding: 1rem;
  border-radius: 1rem;
  transition-duration: 300ms;
}

.submit-button:hover{
  opacity: 80%;
}

.input{
  width: 25vw;
  font-size: 2rem;
  padding: 0.5rem;
}
